.albumDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.newRating{
    display: flex;
    max-width: 20%;
}

.singleAlbumArt {
    display: flex;
    align-items: center;
    max-height: 25%;
    max-width: 25%;

}

.albumArtist {

}

.albumTitle {

}

.recordLabel {

}

.albumRating {

}

.newRating {

}

.submitNewRating {

}

.songDiv {

}

.songList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: auto;

}
.songLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px;
    border-color: darkgoldenrod;
}

.songDuration {

}

.newSongDiv {

}

.newSongForm {

}

.albumCommentDiv {

}

.commentUl {

}

.commentLi {

}