.albumImg{
    width: 10rem;
    height: auto;
}
body{
    /* display: flex;
    flex-direction: column; */
    background-color: aqua;
    /* align-items: center; */
}
/* .albumView{
    display: flex;
} */
/* ul{
    display: flex;
    flex-direction: column;
} */
/* li{
    display: flex;
    flex-direction: column;
    text-align: center;
} */

.songView{
    display: flex;
    width: 90%;
    justify-content: flex-start;
    flex-direction: column;
}

.song{
    display: flex;
    flex-direction: row;
    width: 50%;
}

.albumGrid{
    display: flex;
   justify-content: space-around;
}

ul{
   list-style-type : none;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

.albumArt{
    width: 10rem;
}